h1{
    font-family: 'Fascinate', cursive;
    font-size: 72px;
    font-weight: bolder;
    font-style: italic;
    font-variant: inherit;
}
b{
    font-size: 32px;
}
span{
    font-size: 24px;
}
h3{
    color: aqua;
}